a {
  color: black;
}
body {
  color: black
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-orient: normal;
  flex-direction: column;
}
.cat-ceo.image-content{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column.large{
  width: 630px;
}
.column.medium{
  width: 300px;
}
.column.small{
  width: 240px;
}
.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
div {
  /*border: 1px solid black;*/
  display: block;
}

.fall-cancelled.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}
footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
footer nav{
  display: inline-block;
  padding-left: 25px;
}
h2 {
  display: block;
  -webkit-margin-before: .83em;
  -webkit-margin-after: .83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}
h3{
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index:1;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
header nav {
  padding-right: 40px;
}
.image-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.lead-story .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}
.lead-story .image-content span{
  margin-left: 20px;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left:30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: MediumAquamarine;
}
.narrative {
  margin-top: 16px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}
.news-bites .bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-famliy: Verdana;
  font-size: 12px;
  color: DimGray;
}
.news-bites h3{
  margin-bottom: 41px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
p {
  display: block;
  -webkit-margin-start: 1em;
  -webkit-margin-end: 1em;
  -webkit-margin-end: 0px;
  -webkit-margin-end: 0px;
}
.pop-culture.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
/*places stories next to each other */
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.stories .text-content{
  height: 250px;
}
